body {
   background-color: #043660; 
}

.logo {
    color: #f0f8ff;
}

.bookshelf {
    display: grid;
    width: 100%;
    margin-top: 10vh;
    grid-template-columns: auto auto auto;
    grid-column-gap: 25%;
    
}

.bookshelf img {
    width: 80%;
    height: 80%;
}

.bookshelf div {
    text-align: center;
    border: 1px solid #f0f8ff;
    width: 16vw;
    padding: 1%;
    color: #f0f8ff;
}

.button-container {
    position:absolute;
    bottom:0;
    right:0;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    }
.form-container {
    
    position: fixed;
    bottom: 0;
    right: 30vw;
    border: 3px solid #f1f1f1;
}

#book-form {
    max-width: 100%;
    padding: 10px;
    background-color: white;
}

#title {
    width: 100%;
}

#author {
    width: 100%;
}

#pages {
    width: 100%;
}

#submit-button {
    width: 100%;
    height: 5vh;
    background-color:#043660;
    border-radius: 5px;
    color: white;
}

#close-button {
    width: 100%;
    background-color:#043660;
    border-radius: 5px;
    color: white;
}