body {
   background-color: #BCED91; 
}

.button-container {
    
    margin-top: 35vh;
    margin-left: 40vw;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    }
