body {
   background-color: #BCED91; 
}

.bookshelf {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15vw;
    
}

.bookshelf div {
    border: 1px solid red;
}

.button-container {
    position:absolute;
    bottom:0;
    right:0;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    }
